.navbar {
  background: #2193b0; 
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.logo {
  width: 15%;
}

.MuiAppBar-colorPrimary {
  background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.quote-btn {
  border: none;
  display: inline flow-root list-item;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #175d88;
  font-weight: 600;
  font-size: 15px;
  padding: 1em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 1em;
}

.quote-btn span {
  position: relative; 
  z-index: 1;
}

.quote-btn:hover {
  color: #fff;
  transition: all 0.5s ease-in-out ease-out;
}

.quote-btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 180%;
  background: #0caadc;
  transition: all 0.3s ease-in-out;
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.quote-btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
