.navbar {
  background: #2193b0;
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.logo {
  width: 15%;
}

.MuiAppBar-colorPrimary {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.quote {
  border: none;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #175d88 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
  font-size: 15px;
  padding: 1em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all .3s ease-in-out;
  span {
    position: relative;
    z-index: 1;
  }
  &:hover {
    text-decoration: none !important;
    color: #fff !important;
    background-color: #0caadc;
    transition: all 0.5s ease-in-out ease-out;
  }
}
